*{
	padding: 0;
	margin: 0;
	font-family: Georgia, serif;
	color: #EDEDED
	
}

html { 
  background: url(../images/board.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container {
/*	border: 1px solid yellow;*/
	width: 1004px;
	margin: 0 auto;
	color: rgb(237, 237, 237);
	font-size: 18px;
	letter-spacing: 0.5px;
}

#container_up {
	width: 100%;
	height: 150px;
	margin-top: 100px;
	line-height: 150px;
	background-color: rgba(14, 34, 54, 0.95);
/*	border: 1px solid #FAEBD7;	*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#container_up h1 {
	font-variant: small-caps;
	text-align: left;
	padding-left: 30px;
	font-size: 55px;	
}

#container_up a {
	text-decoration: none;
}

#menu_up {
	width: 100%;
	height: 45px;
	line-height: 45px;
	background-color: rgba(237, 237, 237, 0.8);
	text-align: center;
}

#menu_table {
	width: 100%;
	height: 45px;
	font-size: 18px;
	font-variant: small-caps;
	float: left;
	line-height: 14px;

}

#menu_table, th, td {
	border-collapse: collapse;
	padding: 2px;
}


#menu_table td { 
	width: calc(100%/20); 
	color: rgba(14, 34, 54, 1);
}

#menu_table a {
	color: inherit;
	text-decoration: none;
	font-weight: inherit;
}

#menu_table td:hover {
    background-color: #152535;
	color: rgba(237, 237, 237, 0.6);
}


#menu_table td.active {
    background-color: #050f19;
	color: rgba(237, 237, 237, 1);
}

#main {
	width: 100%;
	background: red;
/*	padding: 30px;*/
	text-align: justify;
	font-size: 16px;
	display: flex;
}


#menu_left{
	width: 191px;
	padding: 20px;
	background-color: antiquewhite;
	overflow: hidden;
	
	text-align: left;
	font-size: 14px;

}

#main_text {
	width: 673px;
	padding: 30px 50px;
	overflow: hidden;
	
	background: black;
	font-size: 17px;
	text-align: justify;
}


#container_bottom {
	clear: both;

	width: 100%;
	height: 110px;
	margin-bottom: 30px;
	background-color: rgba(1, 1, 1, 0.8);	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

img
{
	filter: opacity(0.85);
}

img:hover
{
	filter: opacity(1);
}


/*
cytaty:

letter-spacing: 2px;
	font-size: 15px;
	font-variant: small-caps;*/
